*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
}

header{
  display: flex;
  flex-direction: row;
  background-color: #0C1120;
  height: 7vh;
}

footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: #0C1120;
  height: 5vh;
}

.container-banner-top {
  /* height: 105px; */
  width: 100%;
}

.banner-left-side{
  display: flex;
  flex-direction: row;
  width: 60%;
}

#logo{
  height: 7vh;
}

#name{
  display: flex;
  justify-content: flex-end;
  align-items:center;
  color: #ffffff;
  font-size: 40px
}

.banner-right-side{
  display: flex;
  flex-direction: row;
  width: 40%
}

.nav{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid green;
  justify-content: space-between;
  padding-right: 5px
}

.nav > a{
  color: white;
}

#footer-credits{
  color: white
}

main{
  width: 100%;
  height: 88vh;
}

.login-container{
  color:black;
  background-color: yellow
}

#app{
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 10fr 1fr;
}

.pools-side-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.pools-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-mid-container{
  display: grid;
  grid-template-rows: 1fr 10fr;
  height: 100%;
}

.mid-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mid-header > *{
  margin-left: 15px;
  margin-right: 15px;
  padding: 0px;
  display: flex;
  align-items: center;
}

#top-team-container{
  /* margin-left: 9.2vw; */
  display: grid;
  grid-template-columns: 11% 89%;
}

#pot-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#home-team{
  display: grid;
  grid-template-rows: auto auto;
  /* grid-template-columns: repeat(10, auto); */
}

#home-team-top{
  display: grid;
  grid-template-columns: 1fr 10fr 1fr
}

#home-team-name{
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-team-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-team-bottom{
  display: grid;
  grid-template-columns: repeat(10, auto)
}

#home-values{
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: 1
}

#home-team-values{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.mid-square{
  display: grid;
  grid-template-rows: 2fr 10fr;
}

.mid-square .square-container{
  display: grid;
  grid-template-columns: 1.25fr 10fr;
}

.square-container .square-side{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.square-side .side-team{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-right: 1px solid black;
}

#away-team-logo{
}

#side-team-name{
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.side-values{
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(10,auto);
}

#side-team-values{
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.square-grid {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(10, auto);
  background-color: #2196F3;

}

.square-grid .square-units {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}

#grid-button{
  height: 100%;
  width: 100%;
  border-radius: 0px;
}
